{% load static %}
<!DOCTYPE html>
      <head>
           <meta charset="utf_8">
           <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

           <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">  
           <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
           <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      </head>
      <body>
        <br>
       <h1 style="text-align: center">用户注册</h1>
       <form class="user_register" action="{% url 'manage_system:register' %}" method="POST">
          {% csrf_token %}
          <div>
            <h5><div>&nbsp;&nbsp;&nbsp;&nbsp;<span class="label label-info" style="text-align: center">用户名</span></div></h5>
            <input type="text" name="username" class="form-control" id="id_username" placeholder="Username" autofocus required></input>             
          </div>
          <div>
            <h5><div>&nbsp;&nbsp;&nbsp;&nbsp;<span class="label label-info" style="text-align: center">邮箱</span></div></h5>
            <input type="text" name="email" class="form-control" id="id_useremail" placeholder="Email" required></input>
          </div>
          <div>
            <h5><div>&nbsp;&nbsp;&nbsp;&nbsp;<span class="label label-info" style="text-align: center">密码</span></div></h5>
            <input type="text" name="password" class="form-control" id="id_password" placeholder="Password" required></input>
          </div>
          <div>
            <h5><div>&nbsp;&nbsp;&nbsp;&nbsp;<span class="label label-info" style="text-align: center">请再次输入密码</span></div></h5>
          <input type="text" name="password2" class="form-control" id="id_password" placeholder="Password Again" required></input>                       
          </div>
          <div>
            <h5><div>&nbsp;&nbsp;&nbsp;&nbsp;<span class="label label-info" style="text-align: center">用户类型</span></div></h5>
              <select name="user_type">
                      <option>普通用户</option>
                      <option>管理员</option>
                  </select>
          </div>
          <div>
            <h5><div>&nbsp;&nbsp;&nbsp;&nbsp;<span class="label label-info" style="text-align: center">备注信息</span></div></h5>
            <input type="text" name="information" class="form-control" id="information" placeholder="备注信息"></input>                       
            </div>          
          </div>
          <button type="reset" class="btn btn-default">重置</button>
          <button type="submit" class="btn btn-primary">提交</button>
       </form>
       </body>
</html>