{% load static %}
{% block mainbody %}
<head>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">  
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<br>
<h2 style="text-align: center">添加仓库信息</h2>
<form class="form-horizontal" role="form" action="{% url 'manage_system:storage_insert' %}" method="POST">
    <div class="form-group">
      <h5><div>我&nbsp;&nbsp;&nbsp;<span class="label label-info" style="text-align: center">仓库ID</span></div></h5>
      <input type="text" name="ID" class="form-control" id="ID" placeholder="请输入仓库ID">
      <h5><div>我&nbsp;&nbsp;&nbsp;<span class="label label-info" style="text-align: center">仓库名</span></div></h5>
        <input type="text" name="name" class="form-control" id="name" placeholder="请输入仓库名">
      <h5><div>我&nbsp;&nbsp;&nbsp;<span class="label label-info" style="text-align: center">仓库信息</span></div></h5>
        <input type="text" name="infor" class="form-control" id="infor" placeholder="请输入仓库信息">
        <br>
        <button type="reset" class="btn btn-primary">重置</button>
        <button type="submit" class="btn btn-primary">提交</button>          
    </div>
</form>
  
{% endblock %}