{% load static %}
<head>
    <meta charset="UTF-8">
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet"></link>
    <script type="text/javascript" src="{% static 'js/jquery-1.9.1.min.js' %}"></script>
    <!--bootstrap插件-->
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <!--分页插件-->
    <script type="text/javascript" src="{% static 'js/bootstrap-paginator.js' %}"></script>

    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">  
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--模板插件-->
</head>
<br><br>
<h1 style="text-align: center">用户信息管理</h1>
<br>
<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>用户id</th>
            <th>用户名</th>
            <th>用户权限</th>
            <th>用户备注</th>
        </tr>
    </thead>
    <tbody>
        {% for user in list %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{user.id}}</td>
            <td>{{user.username}}</td>
            {% if user.user_authority == 1 %}
            <td>普通用户</td>
            {% else %}
            <td>管理员</td>
            {% endif %}

            <td>{{user.user_infor}}</td>
            <form action="{% url 'manage_system:user_edit' user.id %}" method="POST">
                <td><button class="btn btn-warning">用户权限修改</button></td>             
            </form>
            <form action="{% url 'manage_system:user_delete' user.id %}" method="POST">    
                <td>
                <button type="submit" class="btn btn-warning">删除</button></td>                  
            </form>

        </tr>
        {% endfor %}
    </tbody>
</table>
<div style="text-align: center">
    <nav aria-label="Page navigation" alignment="right">
        <ul class="pagination">
           <li>
              <a href="{% url 'manage_system:user_manage' pIndex|add:-1 %}?{{mywhere|join:'&'}}" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
                {% for p in plist %}
            <li {% if p == pIndex %}class="active" {% endif %}><a href="{% url 'manage_system:user_manage' p %}?{{mywhere|join:'&'}}">{{p}}</a></li>
                {% endfor %}
            <li>
              <a href="{% url 'manage_system:user_manage' pIndex|add:1 %}?{{mywhere|join:'&'}}" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
          </ul>
      </nav>  
</div>

&nbsp;&nbsp;&nbsp;<a href="{% url 'manage_system:user_add' %}" style="color: rgb(0, 26, 255);text-align: center">想要添加用户？点这里</a>